:root {
      --primary: #f4ce14;
      --secondary: #379777;
      --success: #26ce46;
      --info: #26aace;
      --warning: #f19636;
      --danger: #ff4343;
      --light: #f5f7f8;
      --dark: #303134;
      --muted: #3e3e3e;
}

body{
      font-family: "DM Sans", sans-serif;
      background-color: var(--dark);
      color: var(--light);
}

.bg-grey{
      background-color: var(--muted);
}

.text-grey{
      color: #5e5e5e;
}

button.btn.btn-nav {
      border-radius: 10rem;
      padding: 0.25rem 0.75rem;
}

.btn {
      border-radius: 10rem;
      padding: 0.75rem 1.5rem;
}

button.btn.btn-square {
      border-radius: 1rem !important;
      padding: 1rem 1.25rem;
}

table.table {
      border-radius: 1.25rem;
      overflow: hidden;
}


.seatLabel {
      display: inline-flexbox;
      cursor: pointer;
      text-align: center;
      background-color: var(--secondary);
}

input[type="radio"] {
      display: none;
}

input[type="radio"]:checked+label.seatLabel {
      background-color: var(--primary);
      color: var(--dark);
}

input[type="radio"]:disabled+label.seatLabel {
      cursor: not-allowed;
      background-color: var(--danger);
      color: var(--light);
}