//color overrides
$primary: #f4ce14;
$secondary: #379777;
$success: #26ce46;
$info: #26aace;
$warning: #f19636;
$danger: #ff4343;
$light: #f5f7f8;
$dark: #3e3e3e;
$white: $light;
$black: #3e3e3e;

//monospace font override
@font-face {
      font-family: "DM Mono";
      src: url("/fonts/DMMono-Regular.ttf") format("truetype");
}
$font-family-monospace: "DM Mono", monospace;

//button overrides
$btn-border-radius: 10rem;
$btn-padding-y: 0.75rem;
$btn-padding-x: 1.75rem;

//input textboxes overrrides
$input-border-radius: 0.75rem;

//input checkboxes overrides
$form-check-input-bg: $light;
$form-check-input-checked-color: $primary;
$form-check-input-width: 1.5em;
$form-check-input-border-radius: 0.50em;
$form-check-input-checked-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$form-check-input-checked-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");

//input radio overrides
$form-check-radio-bg: $light;
$form-check-radio-checked-color: $primary;
$form-check-radio-width: 1.5em;

//Card overrides
$card-border-radius: 1.5rem;

@import "functions.scss";
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

// Custom margins for checkboxes and radio buttons
.form-check-input[type="checkbox"],
.form-check-input[type="radio"], label{
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.table {
      border-radius: 0.75rem; 
      overflow: hidden; 
}

//typography overrides
@import "typography.scss";